
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" 用户自定义配置（该文件放一般性配置，可覆盖~/.vimrc里的配置，若要增加、卸载插件，请放入~/.vimrc.custom.plugins）
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

" 开启相对行号
" set relativenumber  

" 相对行号: 行号变成相对，可以用 nj/nk 进行跳转
"set relativenumber number
set number
"au FocusLost * :set relativenumber number
"au FocusGained * :set norelativenumber
" 插入模式下用绝对行号, 普通模式下用相对
"autocmd InsertEnter * :set relativenumber number
"autocmd InsertLeave * :set norelativenumber
function! NumberToggle()
  if(&relativenumber == 1)
    set norelativenumber number
  else
    set relativenumber
  endif
endfunc
nnoremap <C-m> :call NumberToggle()<cr>

" 开启鼠标
set mouse=a

" 设置光标所在列高亮
" set cursorcolumn

set	scrolloff=4
" set textwidth=90

" indentLine 开启代码对齐线
let g:indentLine_enabled = 1
"let g:indentLine_bgcolor_term = 202
"let g:indentLine_bgcolor_gui = '#FF5F00'
let g:indentLine_char_list = ['|', '¦', '┆', '┊']

" markdown
" let system = system('uname -s')
" if system == "Darwin\n"
"    let g:mkdp_path_to_chrome = "/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"
"else
"    let g:mkdp_path_to_chrome = '/usr/bin/google-chrome-stable %U'
"endif
nmap <silent> <F7> <Plug>MarkdownPreview
imap <silent> <F7> <Plug>MarkdownPreview
nmap <silent> <F8> <Plug>MarkdownPreviewStop
imap <silent> <F8> <Plug>MarkdownPreviewStop

" Doxygen
" let g:DoxygenToolkit_authorName="chxuan, 787280310@qq.com"
" let s:licenseTag = "Copyright(C)\<enter>"
" let s:licenseTag = s:licenseTag . "For free\<enter>"
" let s:licenseTag = s:licenseTag . "All right reserved\<enter>"
" let g:DoxygenToolkit_licenseTag = s:licenseTag
" let g:DoxygenToolkit_briefTag_funcName="yes"
" let g:doxygen_enhanced_color=1
" let g:DoxygenToolkit_commentType="Qt"

noremap <plug>(slash-after) zz

if has('timers')
  " Blink 2 times with 50ms interval
  noremap <expr> <plug>(slash-after) 'zz'.slash#blink(2, 50)
endif

" AutoPEP8
" let g:autopep8_diff_type='vertical'
autocmd FileType python set equalprg=autopep8\ -

" 去掉搜索高亮
noremap <silent><leader>/ :nohls<CR>

" remap U to <C-r> for easier redo
nnoremap U <C-r>

au InsertLeave * set nopaste 

" 保存python文件时删除多余空格
fun! <SID>StripTrailingWhitespaces()
    let l = line(".")
    let c = col(".")
    %s/\s\+$//e
    call cursor(l, c)
endfun
autocmd FileType c,cpp,java,go,php,javascript,puppet,python,rust,twig,xml,yml,perl autocmd BufWritePre <buffer> :call <SID>StripTrailingWhitespaces()
